@model Medical.Models.Users
@*@{
        ViewData["Title"] = "Index";
    }*@


<section @*id="appointment" class="appointment section-bg*@>
    <div class="container">

        <div class="section-title mt-5">
            <h2>Register</h2>

        </div>

        <form asp-action="Create" method="post">
            <div class="row">

                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-validation-error" })
                    <span asp-validation-for="FirstName" class="text-danger">  </span>

                </div>

                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    <span asp-validation-for="LastName" class="text-danger">  </span>
                </div>

            </div>
            <div class="row">

                <div class="col-md-6 form-group mt-3">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    <span asp-validation-for="UserName" class="text-danger">  </span>

                </div>
                <div class="col-md-6 form-group mt-3">
                    @Html.LabelFor(m => m.LicenceNumber)
                    <input type="number" name="LicenceNumber"  asp-for="LicenceNumber" class="form-control"/>
                    <span asp-validation-for="LicenceNumber" class="text-danger">  </span>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group mt-3">
                    @Html.LabelFor(m => m.HospitalName)
                    @Html.TextBoxFor(m => m.HospitalName, new { @class = "form-control" })
                    <span asp-validation-for="HospitalName" class="text-danger">  </span>

                </div>
                <div class="col-md-6 form-group mt-3">
                    @Html.LabelFor(m => m.PhoneNumber)
                    <input type="number" name="phonenumber" asp-for="PhoneNumber" class="form-control"/>
                    <span asp-validation-for="PhoneNumber" class="text-danger">  </span>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group mt-3">
                    @Html.LabelFor(m => m.department)
                    <select name="department" id="department" asp-for="department" class="form-select">
                        <option value="">Select Department</option>
                        <option value="Medical Department">Medical Department</option>
                        <option value="Nursing department">Nursing department</option>
                        <option value="ehabilitation department">Rehabilitation department</option>
                        <option value="Pharmacy Department">Pharmacy Department</option>
                        <option value="Radiology department">Radiology department</option>
                    </select>
                    <span asp-validation-for="department" class="text-danger">  </span>

                </div>
                <div class="col-md-6 form-group mt-3 mt-md-3">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <span asp-validation-for="Email" class="text-danger">  </span>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group mt-3">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    <span asp-validation-for="Password" class="text-danger">  </span>

                </div>
                <div class="col-md-6 form-group mt-3">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    <span asp-validation-for="ConfirmPassword" class="text-danger">  </span>
                </div>
            </div>


            <div class="text-center"><button type="submit" class="btn btn-primary btn mt-3 text-light">Register</button></div>


            @Html.HiddenFor(m=>m.status, new { @value="Userss"})
        </form>

    </div>
    @if (ViewData["Message"] != null) {
        <div>Success</div>
    }
</section>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}